.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.backSection {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: var(--background-light);
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0 20px;
}

.backSection:hover {
  background-color: #f0f0f0;
}

.backContent {
  display: flex;
  align-items: center;
  gap: 15px;
}

.backIcon {
  width: 30px;
  height: 30px;
}

.backTitle {
  font-size: 25px;
  font-weight: 700;
}